{% extends 'base.html' %}
{% load bootstrap5 %}

{% block body %}
    <h1>{{article.title}}</h1>
    <p>{{article.content}}</p>
    <p>{{article.user}}</p>

    {% if user == article.user %}
        <a href="{% url 'articles:update' article.id %}">⭐</a>
        <a href="{% url 'articles:delete' article.id %}">🌙</a>
    {% endif %}

    <hr>
    <form action="{% url 'articles:comment_create' article.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary">
    </form>

    <hr>
    {% for comment in article.comment_set.all %}
        <li>
            {{comment.user}} : {{comment.content}}
            {% if user == comment.user %}
                <a href="{% url 'articles:comment_delete' article.id comment.id %}">🐳</a>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}